#map {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  /*margin-top: 50px;*/
}

#info{
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
}

#fmapas{
    position:relative;
    width:100%;
    height: 500px;
}